<h2>Academic Services</h2>

<strong style="font-size: 1.3em;">Academic Journal Editorship</strong>

<ul>
  <li>Editorial board, <em>Computer Science</em>, 2023--</li>
  <li>Editorial board, <em>Journal of National University of Defence Technology</em>, 2023--</li>
  <li>Guest Editor, <em>International Journal of General Systems</em>, 2022</li>
  <li>Guest Editor, <em>Frontiers in Neurorobotics</em>, 2022</li>
</ul>

<strong style="font-size: 1.2em;">Academic Journal Peer Review</strong>

<ul>
  <li><em>IEEE Transactions on Cybernetics</em></li>
  <li><em>IEEE Transactions on Fuzzy Systems</em></li>
  <li><em>IEEE Transactions on Neural Networks and Learning Systems</em></li>
  <li><em>IEEE Transactions on Emerging Topics in Computational Intelligence</em></li>
  <li><em>Information Sciences</em></li>
  <li><em>Knowledge-Based Systems</em></li>
  <li><em>Applied Soft Computing</em></li>
</ul>

<div style="text-align:center;">
  <p>Updated <span id="update-date"></span></p>
</div>

<script>
  document.getElementById("update-date").textContent = new Date().toLocaleDateString('en-US', { month: 'long', year: 'numeric' });
</script>
